# Maven 生成目录
target/
build/
*.class
*.jar
*.war

# IDE 配置文件
.idea/
*.iml
.classpath
.project
.settings/

# 编译生成的源码目录
generated-sources/
generated-test-sources/
annotations/

# 其他通用忽略项
*.log
*.tmp
*.swp